# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-Test/ACTUAL.TXT
text-ui-Test/EXPECTED-UNIX.TXT
/data

# Storage data files
/data/*.json
storage.json
*.json

